nodered/temperature.flow.json
[
  {
    "id": "5d9728c5.e31768",
    "type": "tab",
    "label": "Temperature",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2524da06.668c46",
    "type": "http in",
    "z": "5d9728c5.e31768",
    "name": "",
    "url": "/sensor/:id",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 400,
    "wires": [["5605610b.6107e", "ce8c40b3.7bee2", "d3dbec63.d5bc5"]]
  },
  {
    "id": "ce8c40b3.7bee2",
    "type": "debug",
    "z": "5d9728c5.e31768",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 290,
    "y": 460,
    "wires": []
  },
  {
    "id": "bc14a57c.8c48d8",
    "type": "ui_gauge",
    "z": "5d9728c5.e31768",
    "name": "Current Temperature - Living Room",
    "group": "62adffc.1dcda",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Now",
    "label": "°C",
    "format": "{{value | number:1 }}",
    "min": "14",
    "max": "26",
    "colors": ["#72ddfd", "#00e61b", "#fd6717"],
    "seg1": "15",
    "seg2": "21",
    "x": 920,
    "y": 340,
    "wires": []
  },
  {
    "id": "7ab30eb.602d4f",
    "type": "ui_chart",
    "z": "5d9728c5.e31768",
    "name": "Today's Temperature - Living Room",
    "group": "62adffc.1dcda",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Today",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 920,
    "y": 380,
    "wires": [[], []]
  },
  {
    "id": "d4f5bede.bff76",
    "type": "function",
    "z": "5d9728c5.e31768",
    "name": "getTemperature(msg)",
    "func": "return { payload: msg.payload.temperature };",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 360,
    "wires": [["7ab30eb.602d4f", "bc14a57c.8c48d8"]],
    "outputLabels": ["msg.payload", ""]
  },
  {
    "id": "5605610b.6107e",
    "type": "http response",
    "z": "5d9728c5.e31768",
    "name": "HTTP 200",
    "statusCode": "",
    "headers": {},
    "x": 360,
    "y": 320,
    "wires": []
  },
  {
    "id": "f9865ea3.8f0a",
    "type": "ui_chart",
    "z": "5d9728c5.e31768",
    "name": "Today's Temperature - Ella's Room",
    "group": "bff22b42.a1ac98",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Today",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 920,
    "y": 480,
    "wires": [[], []]
  },
  {
    "id": "d5f161a1.efc0e",
    "type": "ui_gauge",
    "z": "5d9728c5.e31768",
    "name": "Current Temperature - Ella's Room",
    "group": "bff22b42.a1ac98",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Now",
    "label": "°C",
    "format": "{{value | number:1 }}",
    "min": "14",
    "max": "26",
    "colors": ["#72ddfd", "#00e61b", "#fd6717"],
    "seg1": "15",
    "seg2": "21",
    "x": 920,
    "y": 440,
    "wires": []
  },
  {
    "id": "d3dbec63.d5bc5",
    "type": "switch",
    "z": "5d9728c5.e31768",
    "name": "Room Dispatcher",
    "property": "req.params.id",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "living_room", "vt": "str" },
      { "t": "eq", "v": "ellas_room", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 330,
    "y": 400,
    "wires": [["d4f5bede.bff76"], ["1ab911b8.3e1bfe"]]
  },
  {
    "id": "1ab911b8.3e1bfe",
    "type": "function",
    "z": "5d9728c5.e31768",
    "name": "getTemperature(msg)",
    "func": "return { payload: msg.payload.temperature };",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 440,
    "wires": [["d5f161a1.efc0e", "f9865ea3.8f0a"]],
    "outputLabels": ["msg.payload"]
  },
  {
    "id": "62adffc.1dcda",
    "type": "ui_group",
    "z": "",
    "name": "🛋Living Room",
    "tab": "e3a78546.887478",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "bff22b42.a1ac98",
    "type": "ui_group",
    "z": "",
    "name": "👶Ella's Room",
    "tab": "e3a78546.887478",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "e3a78546.887478",
    "type": "ui_tab",
    "z": "",
    "name": "Home Monitoring",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
